Repository hrszpuk/rectx, changes with the labels that .github/labeler.yml gives for each.
All labels: project-manager, utilities, config, metavariables, templates, workflow, golang, asset, README

Added build.go for project_manage.Build
  project_manager/build.go
Labels: project-manager

Hooked up project_manager.Build to main
  main.go
  project_manager/generator.go
Labels: project-manager

Added run.go for project_manager.Run
  project_manager/run.go
Labels: project-manager

Hooked up project_manager.Run to main
  main.go
Labels: none

Fixed project.rectx generation
  project_manager/config/config.go
  project_manager/new.go
Labels: project-manager

Added template validation post download
  config/templates.go
Labels: config

Updated command suggestion and missing templates no longer fatal!
  config/templates.go
Labels: config

Added a way to validate licenses
  config/licenses.go
Labels: config

Added both template and license validation checks to ValidateConfig()
  config/config.go
Labels: config

Added contributing guidelines
  CONTRIBUTING.md
Labels: none

.github/labeler.yml:

project-manager:
  - any: ["project_manager/*"]
  - any: ["project_manager/**/*"]
  
utilities:
  - any: ["utilities/*"]
  - any: ["utilities/**/*"]
  
config:
  - any: ["config/*"]
  - any: ["config/**/*"]
  
metavariables:
  - any: ["metavariables/*"]
  - any: ["metavariables/**/*"]
  
templates:
  - any: ["templates/*"]
  - any: ["templates/**/*"]
  
workflow:
  - any: [".github/*"]
  - any: [".github/**/*"]

golang:
  - any: ["*.go", "*/*.go", "*/**/*.go"]
  
asset:
  - any: ["*.png"]
  - any: ["*.jpg"]
  - any: ["*.pdf"]
  
README:
  - any: ["README.md"]
  - any: ["*/README.md"]
