Repository hrszpuk/rectx, pull requests merged in 2022-09, with the labels that each got.

#4 Custom "bubble up" error handlers for the CLI module
  src/cli.rs
  src/manager.rs
Labels: bug, enhancement

#5 Major bug fixes, refactoring, and error handling
  src/cli.rs
  src/config.rs
  src/main.rs
  src/manager.rs
Labels: bug, documentation, enhancement

#7 Configuration file for custom executable generation 💯
  src/cli.rs
  src/config.rs
  src/manager.rs
Labels: enhancement, config module, manager module

#9 target/ and deps/ are now in [project] header (config.toml)
  src/config.rs
  src/manager.rs
Labels: enhancement, config module

#10 Added GitHub actions (.github/workflow/rust.yml)
  .github/workflows/rust.yml
Labels: enhancement

#15 check if project config file exists / it is a file
  .github/workflows/rust.yml
  .gitignore
  src/config.rs
Labels: bug, config module

#16 Target profiles, directory generation, and automatically moving dependencies when needed
  .github/workflows/rust.yml
  .gitignore
  Cargo.lock
  Cargo.toml
  src/cli.rs
  src/config.rs
  src/manager.rs
Labels: enhancement, manager module

#17 Cross-platform support for Windows
  src/config.rs
  src/manager.rs
Labels: enhancement, config module, manager module

#18 v1.0.0 Complete
  .github/workflows/rust.yml
  .gitignore
  Cargo.lock
  Cargo.toml
  src/cli.rs
  src/config.rs
  src/manager.rs
Labels: enhancement

#22 Improvements to the help menu (+colours)
  .gitignore
  Cargo.lock
  Cargo.toml
  LICENSE
  src/cli.rs
Labels: documentation, enhancement, cli module

#24 Major improvements to the help menu (colours, detail, commands, etc)
  .github/rectx.png
  .gitignore
  Cargo.lock
  Cargo.toml
  LICENSE
  README.md
  src/cli.rs
Labels: enhancement, cli module
